
@*@{
    Layout = null;
}*@

<!DOCTYPE html>
@using System.Web.Optimization

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">    <title>Home</title>

    @Styles.Render("~/style/bundles")




</head>
<body>
    @Html.Partial("_navbar")


    <div> 
        @RenderBody()


    </div>
    @Html.Partial("_footer")












    @Scripts.Render("~/script/bundles")



</body>
</html>
