
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


@using PagedList
@using PagedList.Mvc

@using MVCBlog.Models
@model Tuple<IPagedList<BlogPost>,List<Category>>

<div class="container">
    <h1 class="my-4">
        A01 Blog
    </h1>
    <div class="row">

        @foreach (var item in Model.Item1)

        {

            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    @*<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>*@
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/Home/GetPage/@item.ID">@item.PostTitle</a>
                            <h4>@item.PostDate</h4>
                        </h4>
                        
                    </div>
                </div>
            </div>

        }
    </div>


</div>

    @Html.PagedListPager(Model.Item1, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.Minimal)




    @*Old Stuff*@
    @*<h2>Index</h2>*@

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PostTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostDate)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>
            </tr>
        }

        </table>*@
